main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.msgErro {
    position: absolute;
    top: 30px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(255, 221, 209);
    color: orangered;
    border: 1px dashed orange;
    border-radius: 10px;
}
.msg {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.sucesso {
    color: green;
    background-color: rgba(142, 255, 142, 0.322);
    border: 1px dashed green;
}
.erro {
    color: red;
    background-color: rgba(255, 167, 167, 0.411);
    border: 1px dashed red;
}